body
{
	background: url('../img/day.png');
	font-family: 'Open Sans Condensed', sans-serif;

}

h1
{
	text-align: center;
	margin-top: 3em;

}

p
{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 2px;
}


article
{
	width: 20em;
	height: 20em; 
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin: auto;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
	border-radius: 5px;
	border: solid, 2px, white;
}


.day
{
	background: url('../img/day.png');
	color: white;
}

.night
{
	background: url('../img/night.png');
}

