body
{
	background: url('../img/day.png');
	font-family: 'Open Sans Condensed', sans-serif;

}

h1

{	text-align: center;
	margin-top: 3em;

}

p
{
	text-align: center;
	margin-bottom: 2px;
}

i
{
	
	
}


.iconBox
{

	padding-top: 2em;
	border-bottom-style: dashed;
	height: 30%;
	width: 80%;
	margin: auto;
}

article>div
{
	height:50%;
}

.dateTime
{
	font-size: 1em;
	text-align: center;
	margin: auto;
}

.dateTime>p
{
	display: inline;
}
.articleDay
{
	width: 20em;
	height: 20em; 
	background-color: rgba(0,0,0,0.5);
	margin: auto;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
	border-radius: 5px;
	border: solid, 2px, white;
	color: white;

}

.articleNight
{
	max-width: 50%;
	height: 75%; 
	color: #333;
	background-color: rgba(255,255,255,0.5);
	margin: auto;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
	border-radius: 5px;
	border: solid, 2px, white;

}


.day
{
	background: url('../img/day.png');
	color: #333;
}

.night
{
	background: url('../img/night.png');
	color: white;
}

#weather
{
	font-size: 3em;
	text-align: left;
	padding-top: 1.25em;
	position: relative;
	bottom: 2em;
}